<a href="https://colab.research.google.com/github/trungsi/DS-project---Road-accidents-in-France/blob/master/Linear_regressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

with open('/content/drive/My Drive/DataScience project/Road accidents - model.csv', 'r', encoding='ISO-8859-1') as f:
  df = pd.read_csv(f, index_col=0)

df.info()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,11,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034545 entries, 0 to 1034544
Data columns (total 24 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Num_Acc     1034545 non-null  int64
 1   an          1034545 non-null  int64
 2   mois        1034545 non-null  int64
 3   jour        1034545 non-null  int64
 4   hrmn        1034545 non-null  object
 5   lum         1034545 non-null  int64
 6   agg         1034545 non-null  int64
 7   int         1034545 non-null  int64
 8   atm         1034472 non-null  float64
 9   col         1034526 non-null  float64
 10  com         1034545 non-null  object
 11  adr         908057 non-null   object
 12  gps         453015 non-null   object
 13  lat         607560 non-null   object
 14  long        607556 non-null   object
 15  dep         1034545 non-null  object
 16  grav_mean   1034545 non-null  float64
 17  grav_total  1034545 non-null  int64
 18  nb_usagers  1034545 non-null  int64
 19  date        1034545 non-null  object
 20  nb_jour     1034545 non-null  int64
 21  nb_semaine  1034545 non-null  int64
 22  surf        1032621 non-null  float64
 23  vma         163102 non-null   float64
dtypes: float64(5), int64(11), object(8)
memory usage: 197.3+ MB

In [26]:
df = df.drop(columns=['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'adr', 'gps', 'lat', 'long', 'com', 'grav_total', 'date', 'nb_jour', 'vma'])
df.head()

   lum  agg  int  atm  col dep  grav_mean  nb_usagers  nb_semaine  surf
0    1    2    2  1.0  3.0  10        2.0           6           1   1.0
1    2    2    2  4.0  3.0  10        3.0           6           1   2.0
2    1    2    1  1.0  6.0  10        3.5           7           2   1.0
3    2    2    1  8.0  3.0  10        1.5           3           2   2.0
4    1    1    1  1.0  2.0  10        1.5           3           4   1.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034545 entries, 0 to 1034544
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   lum         1034545 non-null  int64
 1   agg         1034545 non-null  int64
 2   int         1034545 non-null  int64
 3   atm         1034472 non-null  float64
 4   col         1034526 non-null  float64
 5   dep         1034545 non-null  object
 6   grav_mean   1034545 non-null  float64
 7   nb_usagers  1034545 non-null  int64
 8   nb_semaine  1034545 non-null  int64
 9   surf        1032621 non-null  float64
dtypes: float64(4), int64(5), object(1)
memory usage: 86.8+ MB

In [28]:
df = df.dropna()

In [29]:
df = df.astype({'lum' : 'str', 'agg': 'str', 'int': 'str', 'atm': 'str', 'col': 'str', 'surf': 'str'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032546 entries, 0 to 1034544
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   lum         1032546 non-null  object
 1   agg         1032546 non-null  object
 2   int         1032546 non-null  object
 3   atm         1032546 non-null  object
 4   col         1032546 non-null  object
 5   dep         1032546 non-null  object
 6   grav_mean   1032546 non-null  float64
 7   nb_usagers  1032546 non-null  int64
 8   nb_semaine  1032546 non-null  int64
 9   surf        1032546 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 86.7+ MB

In [35]:
df = pd.get_dummies(df)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032546 entries, 0 to 1034544
Columns: 159 entries, grav_mean to surf_9.0
dtypes: float64(1), int64(2), uint8(156)
memory usage: 185.1 MB

In [37]:
df.head()

,grav_mean,nb_usagers,nb_semaine,lum_-1,lum_1,lum_2,lum_3,lum_4,lum_5,agg_1,...,surf_0.0,surf_1.0,surf_2.0,surf_3.0,surf_4.0,surf_5.0,surf_6.0,surf_7.0,surf_8.0,surf_9.0
0,2.0,6,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,3.0,6,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,3.5,7,2,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1.5,3,2,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1.5,3,4,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [38]:
target = df.grav_mean
feats = df.drop(columns=['grav_mean'])

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feats, target, test_size=0.2, random_state=123)

In [40]:
from sklearn.model_selection import cross_val_predict, cross_val_score, cross_validate
from sklearn.linear_model import LinearRegression

slr = LinearRegression()
slr.fit(X_train, y_train)

LinearRegression()

In [42]:
print("Coefficient of determination of the model on train data:", slr.score(X_train, y_train))
print("Coefficient of determination of the model on test data:", slr.score(X_test, y_test))

Coefficient of determination of the model on train data: 0.5294125699491917
Coefficient of determination of the model on test data: 0.5408954624856348

In [43]:
from sklearn.linear_model import RidgeCV

ridge_reg = RidgeCV(alphas=[0.001, 0.01, 0.1, 0.3, 0.7, 1, 10, 50, 100])

ridge_reg.fit(X_train, y_train)

RidgeCV(alphas=array([1.e-03, 1.e-02, 1.e-01, 3.e-01, 7.e-01, 1.e+00, 1.e+01, 5.e+01,
       1.e+02]))

In [44]:
print(ridge_reg.alpha_)
print(ridge_reg.score(X_train, y_train))
print(ridge_reg.score(X_test, y_test))

50.0
0.5294094589242764
0.5409115690027483

In [45]:
from sklearn.linear_model import LassoCV
model_lasso = LassoCV(cv=10)
model_lasso.fit(X_train, y_train)

LassoCV(cv=10)

In [46]:
print(model_lasso.score(X_train, y_train))
print(model_lasso.score(X_test, y_test))

0.521419815759032
0.5342465664380286